{% extends 'base.html.twig' %}

{% block title %}New ReservationMachine{% endblock %}

{% block body %}
    <h1>Create new ReservationMachine</h1>

    {{ include('reservation_machine/_form.html.twig') }}

    <a href="{{ path('app_reservation_machine_index') }}">back to list</a>
{% endblock %}
