{% extends 'basedash.html.twig' %}

{% block title %}Laverie{% endblock %}

{% block body %}

    <h1>Ajouter une Laverie</h1>

    {{ include('laverie/_form.html.twig') }}<br>

    <a href="{{ path('app_laverie_index1')}}" class="btn btn-primary">Revenir à la liste</a>
{% endblock %}
