{% extends 'base.html.twig' %}

{% block title %}New Machine{% endblock %}

{% block body %}
<div class="contact-header" style="background-image: url({{asset('images/fond.jpg')}});">
    <h1>Contactez-nous</h1>
    <p>HOME > CONTACT</p>
</div>
    <h1>Create new Machine</h1>

    {{ include('machine/_form.html.twig') }}

    <a href="{{ path('app_machine_index') }}">back to list</a>
{% endblock %}
