{% extends 'basedash.html.twig' %}

{% block title %}Machine{% endblock %}

{% block body %}

    <h1>Ajouter une Machine</h1>

    {{ include('machine/_form.html.twig') }}

    <a href="{{ path('app_machine_index') }}">Revenir à la liste</a>
{% endblock %}
