{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="user-header" style="background-image: url({{asset('images/fond.jpg')}});">
                    <h1 class="mb-3">Bienvenue,<br>
                    Numéro de chambre : </h1>
                    <p class="mb-3">Numéro de chambre : </p>
        
    </div>
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
